html, body {
    display: grid;
  
    height: 100%;
  }
  
  .main {
    display: grid;
    align-content: center;
  }
  
  .form, .alert {
    justify-self: center;
    width: 100%;
    max-width: 500px;
  }
  
  .countdown {
    justify-self: center;
    text-align: center;
    background: white;
    background: linear-gradient(to right bottom,
     rgba(255, 255, 255, 0.7), 
     rgba(255, 255, 255,0.3)
     );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    padding: 2rem;
  }

  #form {
    background: white;
    background: linear-gradient(to right bottom,
     rgba(255, 255, 255, 0.7), 
     rgba(255, 255, 255,0.3)
     );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    padding: 2rem;
  }

  .frontPageTitle {
    background: white;
    background: linear-gradient(to right bottom,
     rgba(255, 255, 255, 0.7), 
     rgba(255, 255, 255,0.3)
     );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    padding: 1.5rem;
  }

  .titleInput {
    background: white;
    background: linear-gradient(to right bottom,
     rgba(255, 255, 255, 0.7), 
     rgba(255, 255, 255,0.3)
     );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    padding: 1rem;
    margin-top: 1rem;
  }
  .dateTimeInput {
    background: white;
    background: linear-gradient(to right bottom,
     rgba(255, 255, 255, 0.7), 
     rgba(255, 255, 255,0.3)
     );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    padding: 1rem;
    margin-top: 1rem;
  }

  #countdownTitle {
    background: white;
    background: linear-gradient(to right bottom,
     rgba(255, 255, 255, 0.7), 
     rgba(255, 255, 255,0.3)
     );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    padding: 1.5rem;
  }

  #countdownTime {
    background: white;
    background: linear-gradient(to right bottom,
     rgba(255, 255, 255, 0.7), 
     rgba(255, 255, 255,0.3)
     );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    padding: 1.5rem;
  }
  
  #clear {
    font-size: 1.5rem;
  }
  .countdown-time {
    display: flex;
    font-family: 'Space Mono', monospace;
    font-size: 2.5rem;
    text-align: center;
  }
  
  .countdown-time span {
    display: grid;
    justify-content: center;
    padding: 0 10px;
  }
  
  .countdown-time span::after {
    font-size: 0.8rem;
  }
  
  .countdown-time .days::after {
    content: 'days';
  }
  
  .countdown-time .hours::after {
    content: 'hours';
  }
  
  .countdown-time .minutes::after {
    content: 'minutes';
  }
  
  .countdown-time .seconds::after {
    content: 'seconds';
  }
  
  
  
  
  .hide {
    display: none;
  }

body {
  font-family: azo-sans-web, sans-serif;
  background: rgb(0, 255, 225);
  background: linear-gradient(0deg, rgb(0, 255, 251) 0%, rgb(255, 218, 35) 50%, rgb(253, 121, 85) 100%);
}